/env/
/.vs/
*.sou
/.vs/Deep-Learning-Linear-Regression/FileContentIndex/01e1c04a-5a63-4a1c-918e-a581bb3bf0f1.vsidx
/.vs/Deep-Learning-Linear-Regression/FileContentIndex/3d6c8844-57b3-4c8e-98d9-1358e06d5b7a.vsidx
/.vs/Deep-Learning-Linear-Regression/FileContentIndex/42212b13-a509-4226-93c0-488c0b62558e.vsidx
/.vs/Deep-Learning-Linear-Regression/FileContentIndex/42693e8a-b31a-4e35-a799-002b6b105880.vsidx
/.vs/Deep-Learning-Linear-Regression/v17/.suo
/.vs/Deep-Learning-Linear-Regression/FileContentIndex/4edb7116-b79b-499c-a6a1-627d86518265.vsidx
/.vs/Deep-Learning-Linear-Regression/FileContentIndex/5a355b81-4faf-4bfa-8ef5-feeaa99af86a.vsidx
/.vs/Deep-Learning-Linear-Regression/FileContentIndex/5e2d216c-9573-4da4-b747-888aced3e8da.vsidx
/.vs/Deep-Learning-Linear-Regression/FileContentIndex/6725135f-b1a4-48fd-a8bb-7ad0d101aee3.vsidx
/.vs/Deep-Learning-Linear-Regression/FileContentIndex/ddc1aba5-e218-4d95-852d-4b10c8d7e669.vsidx
/.vs/Deep-Learning-Linear-Regression/FileContentIndex/e3f7dfb7-773c-46b9-bdd6-195976bf05bd.vsidx
/.vs/Deep-Learning-Linear-Regression/FileContentIndex/read.lock
